{%extends "view.html"%}
{%load crispy_forms_tags%}

{%block title%}Bienvenido {{ block.super}}{%endblock%}
{%block jumbotron%}
        

	<section class="jumbotron text-center">
        <div class="container-fluid">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
	{{ temp_titulo}}
	<hr>
	<br>
	      {%endblock%}
	{%block content%}
	{%if el_form%}
	<div class="row">
		<div class="col-sm-6 col-md-4">
		<form method="POST" action="">
			{% csrf_token %}
			<!-- {{el_form.as_p}} -->
			{{el_form|crispy}}
			<input type="submit" value='guardar'>
		</form>
		</div>
	</div>
		<hr/>
	{%endif%}
	{% endblock%}
